/* overiding */

.overide-container{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
}

.MuiPaper-rounded{
  border-radius: 15px !important;
}

.fullscreen-enabled{
  overflow: scroll !important;
}

/* container */

.table-container {
  width: 100%;
  overflow: auto;
}

.table-head {
  font-weight: bold !important;
  background-color: #000000;
  color: #FFFFFF !important;
}

.table-input {
  padding: 12px 4px;
  font-weight: bold;
  border: 1px solid #000;
  border-radius: 5px;
  width: 100%;
}

.paper-analityc {
  height: 150px;
  padding: 10px;
}

.main-container{
  min-height: 100vh;
  width: 100%;
  min-width: 100%;
}

.start {
  align-items: flex-start !important;
  text-align: left !important;
}

.center {
  align-items: center !important;
  text-align: center !important;
}

.end {
  align-items: flex-end !important;
  text-align: left !important;
  justify-content: flex-end !important;
}

.flex-center-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.flex-center-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.m-bg-top-r{
  width: 150%;
  height: 50vh;
  background-color: #009688;
  position: fixed;
  top: -15px;
  left: -30px;
  transform: rotate(5deg);
  box-shadow: 0px 0px 10px 0px #004D40;
}

.m-content{
  position: relative;
}

.prize {
  display: flex;
  padding: 10px;
  left: 0;
  margin-top: -35px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #f50057;
  position: absolute;
}

.prize-right {
  display: flex;
  /* padding: 2px; */
  right: 0;
  margin-top: -35px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f50057;
  position: absolute;
}

/* image */

.login-logo {
  width: 200px;
  border-radius: 100%;
  box-shadow: 0 0 10px 0px #000;
}

.img-preview {
  width: 200px;
  height: 200px;
  object-fit: cover;  
}

.img-menu {
  width: 100%;
  height: 200px;
  object-fit: cover;  
}

.img-profile{
  width: 150px !important;
  height: 150px !important;
  box-shadow: 0 0 5px #000;
  object-position: top;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}

/* space */

.margin {
  margin: 10px;
}

.space {
  height: 7vh;
  width: 100%;
}

.space-md {
  height: 2vh;
  width: 100%;
}

.space-lg {
  height: 7vh;
  width: 100%;
}

.full {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

.zero {
  padding: 0 !important;
  margin: 0 !important;
}

.padding-small{
  padding: 5px !important;
}

.padding-md{
  padding: 15px !important;
}

.padding-lg{
  padding: 30px !important;
}

/* text */

.title-cafe{
  font-family: humble-cafe !important;
  color: #FFFFFF;
  text-align: center;
  font-size: 7vw;
}

.subtitle-cafe{
  font-family: segan-light !important;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 5px 10px !important;
  margin: 0;
  font-weight: bold;
}

.title-menu{
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
}

/* main color */

.primary {
  color: #795548;
}

.primary-bg {
  background-color: #795548;
}

.secondary-bg {
  background-color: #f50057 !important;
  font-weight: bold;
}

.secondary {
  color: #f50057 !important;
  font-weight: bold;
}

.dark {
  color: #000000;
  font-weight: bold;
}

.dark-bg {
  background-color: #000000;
  font-weight: bold;
}

.light-bg {
  background-color: #FFFFFF !important;
}

.light {
  color: #FFFFFF;
  font-weight: bold;
}

.blue {
  color: #3F51B5;
}

.blue-bg {
  background-color: #00BCD4;
}

/* card */
.card-menu {
  margin: 10px 5px;
}

/* button */

.button-bottom-nav {
  left: 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.button-google {
  padding: 0 120px !important;
  border-radius: 7px !important;
  color: #000000 !important;
  position: fixed;
  /* width: calc(100% - 20px); */
  bottom: 100px;
}
.button-card-cart {
  position: absolute !important;
  z-index: 1;
  margin: -10px -10px !important;
}
.button-corner-cart{
  position: fixed !important;
  bottom: 0;
  right: 0;
  margin: 20px !important;
}

/* accecories */
.aksesoris-login-1{
  width: 300px;
  height: 300px;
  position: fixed;
  background: #00ACC1;
  bottom: -40px;
  left: -100px;
  border-radius: 100%;
}

.aksesoris-login-2{
  width: 100px;
  height: 100px;
  position: fixed;
  background: #00838F;
  top: 70px;
  right: 150px;
  border-radius: 100%;
}

.aksesoris-login-3{
  width: 50px;
  height: 50px;
  position: fixed;
  background: #006064;
  bottom: 30px;
  right: 100px;
  border-radius: 100%;
}